*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    /* --primary-color: white;
    --secondary-color: black; */

    --primary-color: gray;
    --secondary-color: blue;


}

nav{

    background-color: var(--primary-color);
}

.collapse .navbar-nav .nav-link{

    color: var(--secondary-color);
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none; 
    transition: all 0.2s linear; 
}

.nav-link:hover{

    
    background-color: var(--secondary-color);
    color: var(--primary-color)!important;
    padding: 8px;
}

.navbar-brand{

    font-size: 1.2rem;
    font-weight: 800;
    text-decoration: none;
    color:var(--secondary-color);
}

/* Main-section */

.main{

    
    width: 100%;
    height: 90vh;
    
}

.para{

    border-bottom: 3px black solid;
    width: 180px;
    font-size: 1.2rem;
}

.main .bt1{

    height: 55px;
    width: 138px;
    background-color: rgb(160,20,180);
    color: var(--primary-color);
    outline: none;
    border: none;
    font-weight: bold;
    border-radius: 4px;
}
.main .bt2{

    height: 55px;
    width: 138px;
    background-color: transparent;
    color: rgb(160,20,180);
    outline: none;
    border: 1px  solid rgb(160,20,180);;
    font-weight: bold;
    border-radius: 4px;
}

.bt2:hover{

    background-color: rgb(160,20,180);
    color: var(--primary-color);
    transition: 0.5s;
}
.bt1:hover{

    background-color: rgb(82, 9, 91);
    color: var(--primary-color);
    transition: 0.5s;
}

/* About Me-section*/

.image{

    -webkit-box-shadow: -1px 2px 32px 5px rgba(0,0,0,0.44); 
box-shadow: -1px 2px 32px 5px rgba(0,0,0,0.44);
}

.para1{

    width: 30%;

    border-bottom: 5px solid black;
}

.progress{

    width: 100%;
    height: 20px;
    background-color: var(--primary-color);
    color: var(--primary-color);
    position: relative;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-radius: 50px;
   
    

    
}

.progress1{

    height: 20px;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: center;

    position: absolute;
    background-color: var(--secondary-color);
    border-radius: 50px;
    animation: move 3s normal  forwards;
    
    }


@keyframes move{

    0%{

        width: 0;
        
    }
    100%{

        width: 70%;
    }
}

.progress2{

    height: 20px;
    width: 70%;
    color: var(--primary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: center;

    position: absolute;
    background-color: var(--secondary-color);
    border-radius: 50px;
    animation: move1 3s normal  forwards;
    
    }


@keyframes move1{

    0%{

        width: 0;
        
    }
    100%{

        width: 60%;
    }
}
.progress3{

    height: 20px;
    width: 70%;
    color: var(--primary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: center;

    position: absolute;
    background-color: var(--secondary-color);
    border-radius: 50px;
    animation: move2 3s normal  forwards;
    
    }


@keyframes move2{

    0%{

        width: 0;
        
    }
    100%{

        width: 65%;
    }
}
.progress4{

    height: 20px;
    width: 70%;
    color: var(--primary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: center;

    position: absolute;
    background-color: var(--secondary-color);
    border-radius: 50px;
    animation: move3 3s normal  forwards;
    
    }


@keyframes move3{

    0%{

        width: 0;
        
    }
    100%{

        width: 50%;
    }
}

.btn1{

    width: 130px;
    height: 35px;
    background-color: black;
    color: var(--primary-color);
    outline: none;
    border-radius: 3px;
}

.btn1:hover{

    background-color: transparent;
    color: var(--secondary-color);
    border: 2px solid black;
    transition: 0.4s;
}
.btn2{

    width: 130px;
    height: 35px;
    background-color: transparent;
    color: var(--primary-color);
    transition: 0.3s linear;
    border-radius: 3px;
    color: var(--secondary-color);
    border: 2px solid black;
}

.btn2:hover{

    background-color: var(--secondary-color);
    color: var(--primary-color);
}

/* service */

.card{

    border: none;
    outline: none;

    -webkit-box-shadow: 0px -1px 6px 3px rgba(0,0,0,0.41);
-moz-box-shadow: 0px -1px 6px 3px rgba(0,0,0,0.41);
box-shadow: 0px -1px 6px 3px rgba(0,0,0,0.41);
}

.card p{

    color: gray;
}

.circle{

    width: 70px;
    height: 70px;
    background-color: lightgray;
    color: black;
    padding: 14px;
    display: inline-block;
    margin-bottom: 20px;
    border-radius: 50%;
}

.card:hover .circle{

    background-color: var(--secondary-color);
    color: var(--primary-color);
    transition: 0.5s;
}

.circle .icon {

font-size: 25px;

}

.card{

    width: 40%;
}

.light-icon{

    width: 15px;
    cursor: pointer;
    margin-top: 9px;
}



